<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name=generator content='Ruthless (Ruby)'>
  <meta name='keywords' content='{{ sitekeywords }},{{ keywords }}'>
  <meta name='description' content='{{ sitetitle }}'>
  <meta name='robots' content='follow,index,noarchive,noodp'>
  <meta name='google' content='nositelinkssearchbox'>
  <meta name='author' content='{{ author }}'>
  <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png?v={{ randomver }}'>
  <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png?v={{ randomver }}'>
  <link rel='shortcut icon' href='/favicon.ico?v={{ randomver }}'>
  <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png?v={{ randomver }}'>
  <link rel='manifest' href='/site.webmanifest?v={{ randomver }}'>
  <link href='/theme.css?v={{ randomver }}' rel='stylesheet' type='text/css' />
  <title>{{ title}} -- {{ sitetitle }}</title>
</head>
<body>

  <header>
    <div class='inner'>
      <h1>{{ sitetitle }}</h1>
      <aside>{{ siteblurb }}</aside>
    </div>
  </header>
  <nav>
    <div class='inner'>
    {% for option in sitemenu %}{{ option }}{% endfor %}
    </div>
  </nav>

  <main>
    <div class='inner'>
      <h1>{{ title}}</h1>
      <article>
        {% include 'page' %}
        {% if settings.disqus-comments %}
        <div id='disqus_thread'></div>
        {% endif %}
      </article>
    </div>
  </main>

  <footer>
    <div class='inner'>
      {{ sitefooter }}
    </div>
  </footer>

  <script>
    // Make all external links open in a new tab/window.
    var ls = document.links;
    for (var i = 0, ln = ls.length; i < ln; i++) if (ls[i].hostname != window.location.hostname) ls[i].target = '_blank';
  </script>

  {% if settings.google-analytics %}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src='https://www.googletagmanager.com/gtag/js?id={{ settings.google-analytics }}'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());
    gtag('config', '{{ settings.google-analytics }}');
  </script>
  {% endif %}

  {% if settings.disqus-comments %}
  <script>
    var disqus_config = function () {
      // this.page.url = ' ';
      this.page.identifier = '{{ title }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ settings.disqus-comments }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  {% endif %}

</body>
</html>
