<html>
  <head>
    <link href='/theme.css' rel='stylesheet' type='text/css' /><meta charset='utf-8' />
    <title>{{ sitetitle }}</title>
  </head>
  <body>
    <div>
      <strong>{{ sitetitle }}</strong><br />
      {{ siteblurb }}
    </div>
    {{ content }}
    <br />
    <p>
      <small>{{ sitefooter }}</small>
    </p>
    <script>
      var ls = document.links;
      for (var i = 0, ln = ls.length; i < ln; i++) if (ls[i].hostname != window.location.hostname) ls[i].target = '_blank';
    </script>
  </body>
</html>
